body, html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin: auto;
  position: relative;
}

.header {
  padding: 14px 0 5px 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
@media (min-width: 992px) {
  .header {
    padding: 30px 0 31px 0;
  }
}
.header-logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
}

.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 5%;
}
.footer-logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 18px;
  margin-bottom: 5%;
}
.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-listElement {
  margin: 10px 0;
}
.footer-listElement:first-child {
  margin-top: 0;
}
.footer-listElement:last-child {
  margin-bottom: 0;
}
.footer-link {
  color: white;
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: underline;
}
.footer-icon {
  margin-right: 10px;
}
@media (min-width: 992px) {
  .footer .container {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer-list {
    display: flex;
    align-items: baseline;
    gap: 30px;
  }
  .footer-logo {
    margin: 5px 0 0 90px;
  }
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 20px 5%;
  background-color: rgb(243, 243, 243);
  font-size: 16px;
  position: relative;
}
.localisation-icon {
  margin-right: 10px;
}
.localisation-text {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}

.about {
  padding: 30px;
  text-align: center;
  background-color: rgb(250, 250, 250);
}
.about-title {
  margin: 0;
  padding: 0 15px 0 15px;
}
@media (min-width: 992px) {
  .about-title {
    font-size: 40px;
  }
}
.about-subtitle {
  font-weight: 300;
  margin: 24px 0;
  font-size: 18px;
}
.about-btn {
  border: 0;
  padding: 13px 18px 13px 18px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 100px;
  color: white;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.about-btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.about-btn a {
  text-decoration: none;
  color: inherit;
}

.function {
  padding: 5%;
}
.function-title {
  margin-top: 0;
}
.function-steps {
  margin-left: 10px;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}
@media (min-width: 992px) {
  .function-steps {
    display: flex;
  }
}
.function-step {
  padding: 28px 0px 28px 40px;
  margin: 25px 0 0 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  text-decoration: none;
  color: black;
}
@media (min-width: 992px) {
  .function-step {
    flex: 1;
    margin: 0;
    margin-left: 30px;
  }
  .function-step:first-child {
    margin-left: 10px;
  }
}
.function-step:first-child {
  margin-top: 0;
}
.function-step:last-child {
  margin-bottom: 0;
}
.function-step::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -12px;
}
.function-icon {
  margin-right: 27px;
  color: #7e7e7e;
}
.function-icon:hover {
  margin-right: 27px;
  color: #9356DC;
}
.function-text {
  font-size: 16px;
  font-weight: 500;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 5%;
}

.cards {
  row-gap: 35px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .cards {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    row-gap: 60px;
  }
}

.card {
  background-color: white;
  border-radius: 15px;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
@media (min-width: 992px) {
  .card {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 45%;
  }
  .card .card-footer {
    width: 100%;
  }
}
.card-img {
  height: 170px;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-badge {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.card-footer {
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
}
.card-content {
  flex: 1;
}
.card-title {
  margin: 0;
  margin-bottom: 5px;
}
.card-btn {
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  background-color: black;
}
.card-btn:hover::before {
  opacity: 1;
}
.card-btn::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.card-like {
  font-size: 22px;
  transition-duration: 0.25s;
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}
.card-btn:hover .menu-like-nofull {
  opacity: 0;
}/*# sourceMappingURL=main.css.map */