.localisation {
    display: flex;
    justify-content: center;
    padding: 20px $Padding;
    background-color: rgb(243, 243, 243);
    font-size: 16px;
    position: relative;

    &-icon {
        margin-right: 10px;
    }

    &-text {
        font-weight: 700;
        font-size: 16px;
        margin: 0;
    }
}

.about {
    padding: 30px;
    text-align: center;
    background-color: rgb(250, 250, 250);

    &-title {
        margin: 0;
        padding: 0 15px 0 15px;

        @media (min-width: 992px) {
            font-size: 40px;
        }
    }

    &-subtitle {
        font-weight: 300;
        margin: 24px 0;
        font-size: 18px
    }

    &-btn {
        @include button;
    }
}

.function {
    padding: $Padding;

    &-title {
        margin-top: 0;
    }

    &-steps {
        margin-left: 10px;
        padding: 0;
        list-style: none;
        counter-reset: compteListe;
    
        @media (min-width: 992px) {
            display: flex;
        }
    }

    &-step {
        padding: 28px 0px 28px 40px;
        margin: 25px 0 0 0;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        background-color: #f6f6f6;
        display: flex;
        position: relative;
        text-decoration: none;
        color: black;

        @media (min-width: 992px) {
        flex: 1;
        margin: 0;
        margin-left: 30px;

        &:first-child {
            margin-left: 10px;
        }
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        counter-increment: compteListe 1;
        content: counter(compteListe) " ";
        background: $color-primary;
        height: 24px;
        width: 24px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
        left: -12px;
        }
    }

    &-icon {
        margin-right: 27px;
        color: #7e7e7e;
    }

    &-icon:hover {
        margin-right: 27px;
        color: $color-primary;
    }

    &-text {
        font-size: 16px;
        font-weight: 500;
    }
}

.restaurants {
    background-color: #f6f6f6;
    padding: $Padding;
}

.cards {
    row-gap: 35px;
    display: flex;
    flex-direction: column;

    @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        row-gap: 60px;
    }
}


.card {
    @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        width: 45%;

        .card-footer {
            width: 100%;
        }
    }

    background-color: white;
    border-radius: 15px;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: .2s;
    
    &-img {
    height: 170px;
    width: 100%;
    border: transparent solid 0px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    }

    &-new {
        background-color: $color-tertiary;
        color: #008766;
        padding: 7px 10px 7px 10px;
        border-radius: 2px;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    &-footer {
        padding: 15px;
        position: relative;
        display: flex;
        align-items: center;
    }
    
    &-content {
        flex: 1;
    }

    &-title {
        margin: 0;
        margin-bottom: 5px;
    }

    &-btn {
        height: 25px;
        width: 25px;
        background-color: transparent;
        border: transparent 0px solid;
        padding: 0;
        display:flex;
        align-items:center;
        cursor: pointer;
        position: relative;
        background-color: black;

    &:hover::before {
        opacity: 1;
    }

    &::before {
        opacity: 0;
        transition: 0.5s;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        }
    }

    &-like {
        font-size: 22px;
        transition-duration: .25s;
        background-color: white;
        position: absolute;
        height: 100%;
        width: 100%;
        display:flex;
        align-items:center;
        justify-content:center;
        mix-blend-mode: lighten;
    }

    &-btn:hover {
        .menu-like {
        &-nofull {
            opacity: 0;
            }
        }
    }
}