.footer {
    background-color: #353535;

    .container {
        display: flex;
        flex-direction: column;
        padding: $Padding;
    }

    &-logo {
        color: white;
        font-family: "Shrikhand", "cursive";
        margin: 0;
        font-size: 18px;
        margin-bottom: $Padding;
    }

    &-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &-list-element {
        margin: 10px 0;

        &:first-child {
        margin-top: 0;
        }

        &:last-child {
        margin-bottom: 0;
        }
    }

    &-link {
        color: white;
        text-decoration: none;

        &:hover {
        text-decoration: underline;
        }
    }

    &-icon {
        margin-right: 10px;
    }

    @media (min-width: 992px) {
        .container {
            display: flex;
            flex-direction: row-reverse;
        }

        &-list {
            display: flex;
            align-items: baseline;
            gap: 30px;
        }

        &-logo {
            margin: 5px 0 0 90px;
        }
    }

}